.dmrc
.cache
.gnupg
.local
.mozilla
.config/dconf
.config/mimeapps.list
.config/pulse
Desktop
Pictures
Downloads
.dmrc
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.ssh
.fehbg
.lessht
